.app-container {
    position: fixed;
    inset: 0;
    display: grid;
    align-items: center;
    justify-content: center;

    .title {
        font-size: 3rem;
    }
}

.centered-app-content {
    display: flex;
    > section {
        z-index: 1;
        margin: auto;
    }
}